.pioenvs

*.eep
*.elf
*.o
*.lss
*.lst
*.map
*.sym
.DS_Store
/arduino/working
/arduino/archives
/arduino/build
/arduino/atmega16u2/lufa-100807/Bootloaders/arduino-usbdfu/.dep/
/arduino/atmega16u2/lufa-100807/Bootloaders/arduino-usbdfu/Arduino-usbdfu.hex
/arduino/atmega16u2/lufa-100807/Projects/arduino-usbserial/.dep/
/arduino/atmega16u2/lufa-100807/Projects/arduino-usbserial/Arduino-usbdfu.hex
/arduino/atmega16u2/lufa-100807/Projects/arduino-usbserial/Arduino-usbserial.hex
/arduino/atmega16u2/lufa-100807/Projects/arduino-usbserial/Arduino-usbserial.s
/arduino/atmega16u2/lufa-100807/Projects/arduino-usbserial/pinoccio-16U2-combined.hex
/arduino/avr/platform.local.txt

/processing/lights/build
